/*

[Custom Stylesheet]

Project     : CloudSky - Multipurpose Domain, Hosting and WHMCS Template
Version     : 1.5
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/

.navbar-logo {
    height: 50px;
}

.services--list {
    display: flex;
}

.price--section__table {
    display: flex;
}

.price--section__table div {
    flex: 1;
    margin: 0 10px;
}

@media only screen and (max-width: 600px) {
    .service--list {
        flex-direction: column;


    }
}